html, body {
    height: 100%;
}

#container_overflow{
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -ms-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

#container_overflow.menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

#container_menu {
    position: fixed;
    top: 0;
    width: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    border-right: 1px solid #ccc;
    box-shadow: 0 1px 14px -5px rgba(0,0,0,0);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#container_menu.menu {
    width: 50%;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0 1px 14px -5px #000;
}

#container_menu a, #container_menu span {
    display: block;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 39px;
    padding-left: 16px;
    text-decoration: none;
}

#container_menu a:hover {
    background-color: #353535;
}

#container_menu span {
    text-align: right;
    padding-right: 16px;
    line-height: 42px;
}

#container_content {
    position: relative;
}

#title {
    /* Заголовок страницы */
    white-space: nowrap;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#title > * {
    vertical-align: middle;
    line-height: 24px;
}

#title span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    font-size: 18px;
}

#title #icon_menu {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url("img/menu.png");
    background-size: contain;
    margin-left: 8px;
    cursor: pointer;
}

@-webkit-keyframes blink {
    from{
        opacity: 1;
    }
    to{
        opacity: 0.1;
    }
}

#title #icon_menu.mail {
    background-image: url("img/mail.png");
    -webkit-animation: blink 1s linear infinite;
}

#title #icon_menu.friends {
    background-image: url("img/friend.png");
    -webkit-animation: blink 1s linear infinite;
}

#adt_top, #adt_bottom {
    text-align: center;
    margin-bottom: 20px;
}

#adt_top a, #adt_bottom a {
    display: block;
    margin: 5px;
}

#adt_top {
    border-radius: 5px;
}

#messages > div {
    margin: 5px auto;
    padding: 5px 2%;
    min-width: 50%;
    text-align: center;
}

#content {
    padding: 3px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.form {
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.form .refresh {
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
}

.form input, .form select {
    padding: 10px !important;
    margin: 5px;
}

.form form[disabled="disabled"] input[type="submit"]{
    background: #ccc;
    border-color: #bbb;
    text-shadow: none;
}

.listing {
    margin-bottom: 10px;
}

.listing .post > table {
    padding: 5px;
}

.listing .post {
    display: block;
    border-top-style: none;
}

.listing .post:first-child {
    border-top-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.listing .post:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.listing .post td {
    padding: 2px;
}

.listing .post td.icon {
    width: 16px;
}

.listing .post td.image {
    width: 48px;
}

.listing .post td.title {
}

.listing .post.hightlight td.title {
    font-weight: bold;
    color: #6F6F6F;
}

.listing a.post:hover {
    text-decoration: none !important;
}

.listing .post td.right {
    width: 1px;
    white-space: nowrap;
    font-size: 80%;
    color: #979797;
}

.listing .post td.content {
    font-size: 90%;
    word-break: break-word;
}

.listing .post td.bottom {
    text-align: right;
    font-size: 80%;
    color: #979797;
}

.listing .post .actions a {
    padding: 2px;
    opacity: 0.7;
}

.listing .post .actions a:hover {
    opacity: 1;
}

.listing .post .time {
}

.listing .post .counter {
    white-space: nowrap;
    border-radius: 10000px;
    padding: 0px 4px;
    float: right;
    font-weight: bold;
    color: #3F7EFD;
}

#actions, #returns {
    padding: 2px;
}

#actions a, #returns a {
    display: block;
    padding: 10px;
    border-top-style: none !important;
}

#actions a:first-child, #returns a:first-child {
    border-top-style: solid !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#actions a:last-child, #returns a:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#foot {
    font-size: 11px;
    text-align: right;
    color: #A7A7A7;
    text-shadow: 0 -1px 1px white;
    padding-right: 10px;
}

#foot a {
    color: #808183;
    font-weight: bold;
}

.pages {
    text-align: center;
    padding: 5px;
}

.pages > * {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    font-size: 150%;
}

.DCMS_photo {
    background-color: #DFDFED;
    margin: 1px;
    padding: 4px;
    border: 1px #CCCCE5 solid;
}

.DCMS_nick_on {
    text-shadow: 0px 0px 4px #4f4;
}

/* выделение в результатах поиска */
.DCMS_mark {
    font-weight: bold;
    color: #F6A21A;
}

table.links {
    font-size: x-small;
    font-weight: bold;
    background-color: #DCEDFF;
    width: 100%;
    text-align: center;
}

.DCMS_quote {
    font-size: smaller;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    margin: 3px;
    padding: 3px;
    background-color: white;
    box-shadow: 1px 1px 13px -5px black inset;
}

.DCMS_quote_title {
    font-weight: bold;
}

.DCMS_youtube iframe {
    height: 240px;
}

/* Голосования */
div.vote {
    margin: 3px;
    padding: 3px;

    background-color: #fff;
    border: 1px solid #B4B4B4;
    border-radius: 5px;

}

div.vote a:hover {
    text-decoration: none;
}

div.vote_name {
    font-weight: bold;
    font-size: x-small;
    padding-bottom: 4px;
}

td.votes {
    margin: 2px;
    border: 1px #B4B4B4 solid;
    border-radius: 2px;
}

td.votes > div > div {
    height: 30px;
    border-radius: 2px;
    min-width: 30px;
    padding: 6px;
}

td.votes_add {
    width: 30px;
}

td.votes_add a {
    text-align: center;
    display: block;
    width: 30px;
    height: 30px;
    margin: 0px 3px 0px 3px;
    padding: 5px;

    border: 1px #B4B4B4 solid;
    border-radius: 2px;
    color: #4F5155;
    text-shadow: 0 -1px 1px white;
}


